body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

ul{
    text-align: center;
    list-style-type: none;
    padding: 35px;
}

ol{
    text-align: center;
    list-style-type: none;
    padding: 35px;
}

.home-image{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
    height: 400px;
}

.home-font{
    font-weight: bold;
    font-style: italic;
}

.second-home-font{
    padding: 30px;
}

p{
    text-align: center;
    padding: 20px;
    margin: 5px;
}

h1{
    background-color: black;
    color: yellow;
    text-align: center;
    width: 600px;
    margin: auto;
}

h1.lasagna-header{
    font-style: oblique;
    background-color: darkred;
    color: antiquewhite;
    font-weight: bold;
    margin: auto;
    border: 10px;
    font-size: 60px;
}

h2.para-lasagna{
    font-size: 45px;
}

.para-lasagna{
    text-align: center;
    color: white;
    font-size: 30px;
    font-style: oblique;
    font-weight: bold
}

.image-lasagna{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: darkgreen;
    padding: 20px;
    border: 5px;
}

.para-lasagna.list{
    font-style: oblique;
    font-weight: bold;
}

.turkey-image{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.para-turkey{
    color: white;
    padding-top: 0px;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}

.turkey-header{
    color: white;
    background: green;
    font-size: 40px;
    font-style: oblique;
    font-weight: bold;
}

.para-turkey.header{
    font-style: normal;
}

.butter-chicken-image{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.para-butter{
    text-align: center;
    color: green;
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
    padding-top: 0px;
}

.butter-header{
    background-color: orange;
    color: green;
    font-size: 30px;
    font-style: oblique;
}

.butter-title{
    color: green;
    background-color: orange;
    font-style: oblique;
    height: 47px;
}